/*  RESERT DAS CONFIGURAÇÕES DO NAVEGADOR */
* { 
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/* .index {
    background-image: url("assets/images.jpg")
    background-position: 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
.body-index {
    background-image: url("assets/velhinhos.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    margin: 200px;
}

.body-pagina-2 {
    background-image: url("assets/Atividade-fisica-x-saude-mental.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 300px auto; 
    /* margin para mudar a posição do texto na tela */
}
.body-terceira_pagina {
    background-image: url("assets/cerebro.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 1000px auto;
}
/* O H1 É O COMANDO RESPONSAVÉL POR MUDAR O TÍTULO */
h1 {
    font-size: 50px;
    color: rgba(37, 208, 88, 0.572);
    font-family: fantasy;
}

/* O H2 É RESPONSAVÉL POR MUDAR O SEMI TÍTULO  */

h2 {
    font: size 80px;
    color: aqua;
    font-family:fantasy
}

/* O COMANDO "P" É RESPONSAVÉL POR MUDAR O TEXTO */

p{
    color:rgb(29, 16, 212);
    font-family: sans-serif;
}
/* O COMANDO "A" É O COMANDO RESPONSAVÉL POR MUDAR O TEXTO DO BOTÃO */
a {
    display: inline-block;
    text-align: center;
    color:rgb(9, 141, 27);
    text-decoration: none;
    margin: 30px auto;
}
button {
    display: block;
    padding: 15px 15px;
    border-radius: 2030px;
    cursor: pointer;
    margin: 33px;
    background-color: rgba(230, 25, 25, 0.726);
}